@page "/Vehicles-List"
@using Automotive
@using AutomotiveLogic

@inject VehicleService VehicleService
@inject NavigationManager NavigationManager

<h3>Vehicles_List</h3>

<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Doors</th>
            <th>Color</th>
            <th>Year</th>
            <th>Manufacturer</th>
            <th>Actions</th>        
        </tr>
    </thead>
    <tbody>
        @foreach(var vehicle in VehicleService.Vehicles)
        {
            <tr>
                <td>@vehicle.GetType().Name</td>
                <td>@vehicle.DoorQuanitity</td>
                <td>@vehicle.Color</td>
                <td>@vehicle.Year</td>
                <td>@vehicle.Manufacturer.Name</td>
                <td>
                    <a class="btn btn-primary" href="/Vehicles-Edit/@vehicle.Id">Edit</a>
                    <button class="btn btn-danger" @onclick="(() => RemoveVehicleById(vehicle.Id))">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Vehicle> _vehicles;
    
    protected override void OnInitialized()
    {
        _vehicles = VehicleService.Vehicles;
    }
    
    private void RemoveVehicleById(int id)
    {
        VehicleService.RemoveVehicleById(id);
        NavigationManager.NavigateTo("/Vehicles-List", true);
    }
}

